// Primary

$white: #fff;

$brand-accent: #fee600;
$brand-accent-hover: #fed500;
$brand-primary: #2b2d33;
$brand-primary-hover: #000000;
$brand-wild-sand: #f4f4f4;

$oslo-10: #e6f6f8;
$oslo-30: #b3e4eb;
$oslo-60: #66c9d7;
$oslo-100: #00a5bc;
$oslo-120: #00809c;
$oslo-140: #04607d;

//------

// Utitilitarian

$geneva-10: #e8f7f4;
$geneva-30: #bfe9df;
$geneva-60: #52c5a9;
$geneva-100: #19b28d;
$geneva-120: #008e7d;

$moscow-10: #fdeeee;
$moscow-30: #faced1;
$moscow-60: #f27c83;
$moscow-100: #ee505a;
$moscow-120: #c74952;

$osaka-10: #fef3ec;
$osaka-30: #fddac7;
$osaka-60: #faa373;
$osaka-100: #f88545;
$osaka-120: #cb662f;

//------

// Secondary

$seattle-01: #fbfbfb;
$seattle-05: #f8f8f8;
$seattle-10: #e9eaea;
$seattle-30: #d5d5d6;
$seattle-60: #aaabad;
$seattle-100: #808185;
$seattle-120: #55575c;
$seattle-140: #404247;

$london-40: rgba($brand-primary, 0.64);
$london-120: rgba($brand-primary, 0.24);

$miami-10: #e7f8f4;
$miami-30: #cff1e9;
$miami-100: #5ed1b6;

$sochi-10: #e6f4fc;
$sochi-30: #cde9fa;
$sochi-100: #57b6ed;

$paris-10: #f0f0fe;
$paris-30: #e1e0fe;
$paris-100: #9a99fb;

$tokyo-10: #faeffa;
$tokyo-30: #f5dff5;
$tokyo-100: #dc94dd;

$dubai-10: #fff4e8;
$dubai-30: #fee9d1;
$dubai-100: #fcb664;

$nice-10: #ffefef;
$nice-30: #fee0e0;
$nice-100: #fc9696;

//------
