// CONTAINER

%container {
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 56px;
  padding-right: 56px;

  @include desktop-l {
    padding-left: calc(56 / 1800 * 100vw);
    padding-right: calc(56 / 1800 * 100vw);
  }

  @include laptop {
    padding-left: 32px;
    padding-right: 32px;
  }

  @include phone {
    padding-left: 16px;
    padding-right: 16px;
  }

  @include phone-s {
    padding-left: 16px;
    padding-right: 16px;
  }
}

// CONTAINER STRETCH LEFT

/* %container-left {
  box-sizing: content-box;
  padding-right: calc(50% - 1440px / 2);

  @include container {
    padding-right: 40px;
  }

  @include phone-s {
    padding-right: 24px;
  }
}

%container-right {
  box-sizing: content-box;
  padding-left: calc(50% - 1440px / 2);

  @include container {
    padding-left: 40px;
  }

  @include phone-s {
    padding-left: 24px;
  }
}
 */
