@import "variables/variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  text-decoration: none;
  color: inherit;
  &.active,
  &.active_exact {
    color: $brand-accent;
  }
  &:hover {
    color: $brand-accent-hover;
  }
}

::selection {
  background: $brand-accent-hover;
  color: $white;
}

//
.component-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  max-width: 860px;
}

h1 {
  font-weight: 800;
}
